@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {/*height: 100%;*/}
.main-content-wrap{min-height: 100%;}
.head-content {height: 160px;margin-top:40px;text-align: center;}
.main-content__text {
margin-top:40px;
}

.audio-head {
display: inline-block;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 30px;
/* or 94% */
color: #223E47;
width: 201.62px;
text-align:left;
margin-left:10px;
}


.audio-icon {
  display: inline-block;
  content: url(../images/audio-icon.svg);
  width: 58px;
  height: 62px;
  
}

.main-content__text, .audio-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
text-align: center;
/* hanging-punctuation is currently only supported in Safari. */
hanging-punctuation: first last;
color: #000000;
}



.audio-text{

}

.audio-text2{
  margin-top:25px;	
}

.vopros-text {	
line-height: 27px;
text-align: center;
color: #223E47;
}

.text-next {
	background: rgba(239, 249, 255, 0.2);
border-radius: 23px;
padding:50px;
}

.countdown,.countdown-red  {
font-weight: 600;
font-size: 48px;
line-height: 65px;
text-align: center;
/* hanging-punctuation is currently only supported in Safari. */
hanging-punctuation: first last;
}

	/* button */
.audio-button {

margin-top:45px;
box-sizing: border-box;
justify-content: center;
align-items: center;
padding: 10px 24px;

background: #FFFFFF;
border-radius: 8px;

font-weight: 400;
font-size: 32px;
line-height: 44px;
}

.button-blue {border: 2px solid #70B7DD;}
.button-red {border: 2px solid #C12129;border-radius: 60px;padding:20px 50px 20px 45px}
.button-next {border: 2px solid #C12129;position: relative;}

.button-next:after {
	 content:'';
position: absolute; /* Абсолютное позиционирование */
    right: 10px; bottom: 30px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-left: 10px solid #C12129; /* Добавляем треугольник */
}

.button-end {border: 0;color:#C12129;text-decoration:underline;}

.countdown {
color: #223E47;
margin-top:25px;	
}

.countdown-red {
color: #C12129;
  margin-top:25px	
}


.countdown-red::before {
  content: url(../images/countdown-icon.svg);
  width: 14px;
  height: 14px;
  position: relative;
 left: -10px;
 top: -8px;
}

.play-progress {margin-top:50px;}

 .progress-bar {
      width: 100%;
      height: 6px;
      background-color: #D9D9D9;
      position: relative;
	  color: #C5C6C8;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    }

    .progress-bar-inner {
      height: 100%;
      width: 0;
      background-color: #70B7DD;
      position: absolute;
    }
.progress-bar-start {
    position: absolute;
    top: -20;
}

.progress-bar-end {
    position: absolute;
    top: -20;
	right:0;
}

.proverka {
	font-style: italic;
font-weight: 300;
font-size: 16px;
line-height: 32px;
leading-trim: both;
text-edge: cap;
text-align: center;
color: #223E47;
position:absolute;
bottom: -140%;
left:40%;
}

.footer-wrap {
    background-color: #514f53;
     position: absolute;
    bottom: 0;
  /*   height: 200px;*/
    width: 100%;
}